.career_heading {
  color: #0052d8;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 400;
  /* margin-bottom: 2.4rem; */
}

.career_heading span {
  font-weight: 700;
}

.first_career {
  padding: 6rem 35.2rem 0 16.2rem;
}

.first_career_desc {
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  width: 92.6rem;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  white-space: pre-line;
}

.first_career_desc a {
  font-weight: 600;
  color: #0052d8;
  text-transform: uppercase;
}

.second_career {
  padding: 6rem 16.2rem 0;
}

.career_desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #0c1c46;
  margin-bottom: 2.4rem;
}

.career_content {
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.career_content span {
  font-weight: 700;
}

.career_image {
  margin-bottom: 6rem;
  width: 100%;
}

.career_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.third_career {
  background: linear-gradient(92.09deg, #e9eef4 0.54%, #f6f6f6 100%);
  padding: 6rem 16.2rem;
}

.third_career_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fourth_career {
  padding: 6rem 16.2rem;
}

.fourth_career_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 2.4rem;
}

.fourth_career_heading_wrap {
  color: #0c1c46;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.fourth_career_icon {
  color: #ff7d00;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.fourth_career_desc {
  color: #000;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.fourth_career_content {
  margin-bottom: 6rem;
}

.fifth_career {
  padding: 6rem 16.2rem;
}

.career_job {
  margin-top: 1.6rem;
  padding: 1rem 2rem;
  border: 1px solid #e9eef4;
  border-radius: 0.3rem;
}

.career_job_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0081ff;
}

.career_job_title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  word-break: break-word;
}

.career_job_icon {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  cursor: pointer;
}

.career_job_content_none {
  display: none;
  text-align: center;
}

.career_job_content {
  text-align: center;
}

.career_job_content_block {
  text-align: left;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #000;
}

.career_job_content_block ul {
  padding-left: 2rem;
}

.career_job_content_desc {
  font-weight: 400;
}

.career_job_content_title {
  font-weight: 600;
}
