.contact_block {
  padding: 6rem 16.2rem;
  display: flex;
  justify-content: space-between;
}

.contact_content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.contact_heading {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
  color: #0052d8;
}

.contact_title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #0c1c46;
  margin-bottom: 6rem;
}

.contact_content_block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.4rem;
}

.contact_content_icon {
  display: inline-block;
  padding: 1.2rem 1.5rem;
  background: #ffc41a;
  color: #fff;
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  border-radius: 1rem;
}

.contact_content_intro {
  margin-left: 1.2rem;
}

.contact_content_title {
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.contact_content_desc {
  width: 35.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #000;
}

.contact_content_desc a {
  font-weight: 600;
  color: #0052d8;
  text-decoration: underline;
  cursor: pointer;
}

.contact_image {
  width: 55rem;
  height: 47.8rem;
  border-radius: 1rem;
  background: url("/contact.png");
}

.contact_image_block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
