@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300;1,400;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  transition: 0.3s linear;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 2px 3px 18px -3px rgba(0, 0, 0, 0.45);
  background: #ffc41a;
  color: #0c1c46;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.heading {
  font-size: 2.8rem;
  line-height: 4.2rem;
  color: #0c1c46;
  text-transform: uppercase;
  text-align: center;
}

.heading span {
  font-weight: 700;
}

/* Swipper js  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
